{% extends 'Proyectos/base.html' %}
	{%block head%}
		<h1>Create proyect</h1>
	{%endblock%}

	{%block content%}
		
		<form method="Post" class="proyect-form">
	    {%csrf_token%}
		{%for field_pro in form%}
		<p>{{field_pro}} {{field_pro.name}}</p>
		{%endfor%}
		<button type="submit" class="save">Save</button>
		<button id="buttonAddObstacle" class="buttonObs">Add obstacle</button>
	    <button id="buttonAddObjetive" class="buttonObj">Add objetive</button>
		</form>

		<script>

    	var eWindows;

	    function window_open(url){
	      eWindows = window.open(urlObj_or_urlObst, "EntryRelation", "width=380,height=300, top=85,right=50");
	    }
		document.getElementById("buttonAddObstacle").onclick = function() 
		{window_open("http://127.0.0.1:8000/new_obstacle/")};

	    document.getElementById("buttonAddObjetive").onclick = function()
	    {window_open("http://127.0.0.1:8000/new_objetive/")};

		</script>

  	{%endblock%}